<div class="footer">
	<div class="w">
		<div class="links">
			<a href="http://www.baidu.com" class="link" target="_blank">百度</a>  |
			<a href="https://www.tmall.com/" class="link" target="_blank">天猫</a>  |
			<a href="http://www.qq.com" class="link" target="_blank">腾讯</a>  |
			<a href="https://www.jd.com/" class="link" target="_blank">京东</a>  |
			<a href="https://www.suning.com/" class="link" target="_blank">苏宁</a>
		</div>
		<p class="copyright">
			Copyright &copy; 2017 SoulMall.com All Right Reserved 
		</p>
	</div> 
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="../../dist/js/base.js"></script>
<script type="text/javascript" src="../../dist/js/index.js"></script>
